@import 'colors-waybar.css';

* {
    font-family: FontAwesome;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.1;
}

#window,
#network,
#hyprland-language,
#pulseaudio,
#pulseaudio.microphone,
#taskbar,
#clock,
#cpu,
#memory,
#disk,
#custom-brightness,
#custom-separator,
#language,
#bluetooth,
#backlight,
#mpris,
#custom-media,
#tray,
#mode,
#workspaces,
#battery,
#idle_inhibitor,
#custom-dict,
#custom-usb,
#custom-power-menu,
#custom-wallpaper,
#custom-launcher,
#custom-spotify,
#custom-swaync,
#custom-hyprshade,
#custom-audio_idle_inhibitor {
    color: @foreground;
    padding: 0px 10px 0px 10px;
    background-color: @background;
    border-radius: 10px;
    margin: 4px 2px 0 2px;
}

#custom-audio_idle_inhibitor,
#custom-brightness,
#custom-separator,
#pulseaudio,
#language,
#bluetooth,
#backlight,
#battery,
#custom-hyprshade,
#memory {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
}

#idle_inhibitor,
#taskbar,
#pulseaudio.microphone,
#cpu {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#custom-swaync,
#custom-launcher,
#network,
#disk {
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#custom-launcher {
    color: @color9;
    font-size: 28px;
    padding: 0 0 0 10px;
}

#taskbar button {
    box-shadow: inset 0 -3px transparent;
    padding: 4px;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
    ;
}

#taskbar button.active {
    background-color: @color9;
    color: @color9;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#idle_inhibitor,
#custom-usb,
#battery {
    color: @color9;
}

#custom-spotify,
#custom-swaync,
#cpu {
    color: @color10;
}

#bluetooth,
#language,
#disk {
    color: @color12;
}

#workspaces button {
    color: @color11;
    box-shadow: inset 0 -3px transparent;
    padding: 2px;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
    color: @color9;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-wallpaper,
#custom-brightness,
#custom-hyprshade,
#pulseaudio {
    color: @color14;
}

#backlight,
#pulseaudio.microphone,
#network {
    color: @color13;
}

#custom-audio_idle_inhibitor,
#memory,
#pulseaudio.muted,
#network.disconnected {
    color: @color11;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
    color: @color15;
}

#clock {
    color: @color12;
    font-weight: bold;
    margin-left: 4px;
}

#custom-power-menu {
    color: @color11;
    font-size: 14px;
    margin-right: 4px;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

tooltip {
    border-radius: 10px;
    padding: 15px;
    background-color: @background;
    font-family: Ubuntu;
}

tooltip label {
    padding: 5px;
}

label:focus {
    background-color: @background;
}