@import '../../.cache/wal/colors-waybar.css';

@define-color noti-border-color @background;
@define-color noti-bg @background;
@define-color noti-bg-hover @color1;
@define-color noti-bg-focus @color2;
@define-color noti-close-bg @background;
@define-color noti-close-bg-hover @color1;
@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color bg-selected @color2;
@define-color shade-lighter rgba(255, 255, 255, 0.1);

.testing {
  background-color: red;
}

.notification-row {
  transition: all 200ms ease;
  outline: none;
  margin-bottom: 4px;
  border-radius: 12px;
}

.notification-row:hover {
  background: @noti-bg-hover;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 0.5;
  background: @noti-bg-hover;
}

.control-center .notification-content {
  background: @shade-lighter;
}

.notification-row:focus .notification,
.notification-row:hover .notification {
  box-shadow: none;
}

.control-center .notification {
  box-shadow: none;
}

.control-center .notification-row {
  opacity: 0.8;
}

.notification {
  transition: all 200ms ease;
  border-radius: 12px;
  margin: 6px 6px;
  box-shadow: none;
  padding: 0;
}


.notification-content {
  background: @noti-bg;
  padding: 10px;
  border-radius: 12px;
}

.close-button {
  background: @noti-close-bg;
  color: white;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: @noti-close-bg-hover;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  color: white;
  transition: all 200ms ease;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: @noti-bg-hover;
}

.notification-default-action {
  border-radius: 12px;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
}

/* add bottom border radius to eliminate clipping */
.notification-action:first-child {
  border-bottom-left-radius: 12px;
}

.notification-action:last-child {
  border-bottom-right-radius: 12px;
  border-right: 1px solid @noti-border-color;
}

.image {}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: white;
  text-shadow: none;
}

.control-center {
  background: @noti-bg;
  border-radius: 12px;
  border: 3px solid @noti-bg;
  background-clip: border-box;
  padding: 4px;
  /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3); */
  box-shadow: none;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.8;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-title>button {
  font-size: initial;
  color: white;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 12px;
}

.widget-title>button:hover {
  background: @noti-bg-hover;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 14px;
  background: @shade-lighter;
  border: 2px solid @noti-border-color;
  box-shadow: none;
}

.widget-dnd>switch:checked {
  background: @bg-selected;
}

.widget-dnd>switch slider {
  background: @noti-bg-hover;
  border-radius: 12px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}

.widget-label>label {
  font-size: 1.1rem;
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
  background-color: @shade-lighter;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  border: 1px solid @shade-lighter;
}

.widget-mpris-player {
  padding: 16px;
  margin: 16px;
  background-color: @mpris-album-art-overlay;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.widget-mpris-album-art {
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.widget-mpris-player button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: @noti-bg-hover;
  border: none;
}

.widget-mpris>box>button {
  /* Change player side buttions */
  background-color: transparent;
  border: none;
}

.widget-mpris>box>button:disabled {
  /* Change player side buttions insensitive */
  background-color: transparent;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

/* Buttons widget */
.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  background-color: @shade-lighter;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  background: @shade-lighter;
  border-radius: 12px;
  border: none;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @noti-bg-hover;
}

/* Menubar widget */
.widget-menubar>box>.menu-button-bar>button {
  border: none;
  background: transparent;
  background: red;
}


.topbar-buttons>button {
  /* Name defined in config after # */
  border: none;
  background: transparent;
  background: blue;
}

/* Volume widget */

.widget-volume {
  background-color: @shade-lighter;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  border: 1px solid @shade-lighter;
}



/* Title widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors>button {
  font-size: initial;
  color: white;
  text-shadow: none;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  box-shadow: none;
  border-radius: 12px;
}

.widget-inhibitors>button:hover {
  background: @noti-bg-hover;
}